{% extends 'base.html' %}


{% block maincontent %}
<form method="post">
    {% csrf_token %}
    <p>
        <input type="text"
               name="username"
               autofocus=""
               autocapitalize="none"
               autocomplete="username"
               maxlength="150"
               required
               placeholder="Username"
               id="id_username">
    </p>
    <p>
        <input type="password"
               name="password"
               autocomplete="current-password"
               required
               placeholder="Password"
               id="id_password"></p>
    <button type="submit">Login</button>
</form>

<a href="{% url 'login:index' %}">Back to dashboard</a>

<br>

<a href="{% url 'password_reset' %}">Reset password</a>

{% endblock %}


