{% extends 'base.html' %}

{% block maincontent %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Hello, {{ user.username|default:'Guest' }}!</h4>
        {% if user.is_authenticated %}
        <p class="card-text">Welcome back!</p>
        <a href="{% url 'login:logout' %}">Logout</a>
        <a href="{% url 'login:password_change' %}">Change password</a>
        {% else %}
        <p class="card-text">Welcome!</p>
        <a href="{% url 'login:login' %}">Login</a>
        <a href="{% url 'signup:index' %}">Signup</a>
        {% endif %}
    </div>
</div>

{% endblock %}
