<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block extra_head_tags %}{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/css/bootstrap.min.js' %}"></script>
    {% block title %}
    <title>Test site</title>
    {% endblock %}
</head>
<body>
{% block maincontent %}
    <p>Hello there</p>
    <div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>
</div>
{% endblock %}
</body>
</html>