<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js' %}">
    <title>Test site</title>
</head>
<body>
<!--    <div class="alert alert-success">-->
<!--      <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.-->
<!--    </div>-->
    {% block content %}

    {% endblock %}
</body>
</html>